/.Langage_whileDescriptionLabelProvider.java._trace
/.Langage_whileDescriptionLabelProvider.xtendbin
/.Langage_whileLabelProvider.java._trace
/.Langage_whileLabelProvider.xtendbin
/Langage_whileDescriptionLabelProvider.java
/Langage_whileLabelProvider.java
